{% extends "layout.html" %} {% block content %}

<header>
  <nav
    class="fixed-top navbar navbar-dark navbar-expand-md py-0"
    id="mainNavbar"
  >
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navLinks"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav">
        <a class="navbar-brand">{{displayname}}</a>
        <li class="nav-item">
          <a href="/login" class="nav-link" style="color: white">LOGIN</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link" style="color: white">REGISTER</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link" style="color: white">LOGOUT</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('form')}}" class="nav-link" style="color: white"
            >FILL FORM</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <div class="textbox-hero p-5">
    <h2 class="text-animation">GROOVE</h2>
    <h1>
      Book a ride.<br />
      We have got a surprise for you.
    </h1>

    <a href="{{ url_for('map1') }}" class="pool-style mt-4">JOIN A POOL</a>
  </div>
</header>

<section class="testimonials" style="background-color: black">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="number">01</h2>
            <h3 class="number-heading mt-3 pt-4">REGISTER AND LOGIN</h3>
            <p>Register for our services so that we could help you</p>
            <a href="#" class="what-a" style="color: #6c63ff">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="number">02</h2>
            <h3 class="number-heading mt-3 pt-4">REGISTER AND LOGIN</h3>
            <p>Register for our services so that we could help you</p>
            <a href="#" class="what-a" style="color: #6c63ff">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="number">03</h2>
            <h3 class="number-heading mt-3 pt-4">REGISTER AND LOGIN</h3>
            <p>Register for our services so that we could help you</p>
            <a href="#" class="what-a" style="color: #6c63ff">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="info">
  <div class="row">
    <h2 class="mt-5 mb-1 mx-5">WHAT IS GROOVE</h2>
  </div>
  <div class="col-sm-6">
    <hr class="horizontal" />
  </div>
  <div class="row justify-content-center align-items-center col-sm-6">
    <blockquote class="mx-5 mb-5 line">
      The project aims at destroying this barrier between the people who are
      sharing a ride by grouping up people with shared interests and compatible
      personality types into a pool. We are able to achieve such results with
      the help of techniques like Natural Language Processing (To determine
      someone’s personality type) , Collaborative filtering and decision tree
      classification (For grouping people with similar tastes) .
    </blockquote>
  </div>
</section>
<section class="about">
  <div class="container-fluid px-0">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <img
          src="/static/images/undraw_team_spirit_hrr4.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6 text-center order-1 order-md-2 blurb mb-5 mb-md-0">
        <div class="row justify-content-center mt-3">
          <div class="col-10 col-lg-8">
            <div class="card p-4">
              <div class="about-content">
                <h2>about us</h2>
                <p>
                  We at groovy are trying to create a carpooling service which
                  matches people on the basis of their interests, and
                  personality types.</p>
                   <br>
                  </p>
                  Our company’s vision is to finding effective and viable methods of reducing vehicular emissions and reduce the damage caused on the environment on a daily basis. 
	                We try to help people make their commute which is usually the most strenuous and boring part of the day, interesting by helping them meet new people during travel, while ensuring security and safety of all the commuters
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("mainNavbar").style.top = "0";
    } else {
      document.getElementById("mainNavbar").style.top = "-90px";
    }
    prevScrollpos = currentScrollPos;
  };
</script>

{% endblock content %}
