{% extends "layout.html" %} {% block content %}
<div class="body-main">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5">
      <div class="content-section-login tect-white">
        <h2 class="pb-2">Login</h2>

        <form method="POST" action="/loginvalidation">
          <label>Email</label><br />
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="email"
          /><br />
          <label>passcode</label><br />
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="password"
            <br
          /><br />
          <input
            type="submit"
            class="btn btn-block button-glass mb-2"
            value="Login"
          />
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">
            Need An Account?
            <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
