@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}
/* landing */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), #000),
    url(/static/images/map1.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.about {
  background: black;
}

ul li a {
  font-size: 18px;
  margin-top: 27px;
  text-decoration: none;
  font-weight: 500;
  color: #6c63ff;
  padding: 12px 15px;
  border-radius: 25px;
}
ul li a:hover,
ul li .active {
  border-bottom: blue;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.textbox-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.pool-style {
  padding: 10px 10px;
  font-weight: 500;
  margin-top: 30px;
  border-radius: 30px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.pool-style:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* landing close */

/* card */
.card {
  position: relative;
  color: white;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.number {
  position: absolute;
  top: -40px;
  right: 30px;
  font-size: 8em;
  color: rgb(255, 255, 255, 0.05);
  pointer-events: none;
}
.number-heading {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
/* card */

/* info */

.info {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(/static/images/mapimg.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/static/images/mapimg.jpeg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.horizontal {
  border: 1px solid red;
  margin-bottom: 80px;
}

/* info */

.text-animation {
  background-image: -webkit-linear-gradient(90deg, #0052f5, #8fb4ff);
  background-image: -moz-linear-gradient(90deg, #0052f5, #8fb4ff);
  background-image: -o-linear-gradient(90deg, #0052f5, #8fb4ff);
  background-image: linear-gradient(90deg, #0052f5, #8fb4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 20s infinite linear;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -moz-animation: hue 20s infinite linear;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  -o-animation: hue 20s infinite linear;
  background-clip: text;
  text-fill-color: transparent;
  animation: hue 20s infinite linear;
}
@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(-90deg);
  }
  50% {
    -webkit-filter: hue-rotate(45deg);
  }
  100% {
    -webkit-filter: hue-rotate(-90deg);
  }
}
@-moz-keyframes hue {
  0% {
    -moz-filter: hue-rotate(-25deg);
  }
  50% {
    -moz-filter: hue-rotate(25deg);
  }
  100% {
    -moz-filter: hue-rotate(-25deg);
  }
}
@-o-keyframes hue {
  0% {
    -o-filter: hue-rotate(-25deg);
  }
  50% {
    -o-filter: hue-rotate(25deg);
  }
  100% {
    -o-filter: hue-rotate(-25deg);
  }
}
@keyframes hue {
  0% {
    filter: hue-rotate(-25deg);
  }
  50% {
    filter: hue-rotate(25deg);
  }
  100% {
    filter: hue-rotate(-25deg);
  }
}

/* form */
#bgimage {
  overflow: hidden;
  background-size: cover;
}
#title {
  font-weight: 400;
  line-height: 1.2;
}

#description {
  font-style: italic;
  font-size: 1.125rem;
}

.form-header {
  text-align: center;
  margin: 2rem 0;
}

#survey-form {
  background-color: rgba(27, 27, 50, 0.6);
  max-width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 2rem 1.5rem;
  position: relative;
  border-radius: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem;
}

.fq {
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0;
}

input {
  background-color: rgba(27, 27, 50, 0.2);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0.3rem;
  margin-top: 0.05rem;
  border: none;
  outline: 0;
  color: #00dbde;
}
select {
  background-color: rgba(237, 237, 245, 0.2);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0.3rem;
  margin-top: 0.05rem;
  border: none;
  outline: 0;
  color: #00dbde;
}
input:focus {
  transition: all 0.4s;
  box-shadow: 0 0.1rem 0 0 #fc00ff;
  outline: 0;
}

select option {
  background-color: rgba(27, 27, 50, 0.7);
}

input[type="radio"] {
  margin: 0 0.5rem 0 0;
}

input[type="checkbox"] {
  margin: 0 0.5rem 0 0;
}

/* ANIMATION */

.box-area {
  position: absolute;
  bottom: 0px;
  left: 0;
  list-style: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.box-area li {
  list-style: none;
  animation: animated 20s linear infinite;
}

@keyframes animated {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(-1800px) rotate(360deg);
  }
}

.box-area li:nth-child(odd) {
  left: 26%;
  font-size: 20px;
  color: #1a4657;
}

.box-area li:nth-child(even) {
  width: 20px;
  height: 20px;
  background: #1a4657;
  border-radius: 50%;
}

.box-area li:nth-child(1) {
  animation-delay: 0s;
  color: #fc00ff;
}

.box-area li:nth-child(3) {
  animation-delay: 5s;
  color: #00dbde;
}

.box-area li:nth-child(5) {
  animation-delay: 2s;
  color: #fc00ff;
}

.box-area li:nth-child(7) {
  animation-delay: 4.5s;
  color: #00dbde;
}

.box-area li:nth-child(9) {
  animation-delay: 6s;
  color: #fc00ff;
}

.box-area li:nth-child(2) {
  animation-delay: 10s;
  color: #00dbde;
}

.box-area li:nth-child(4) {
  animation-delay: 15s;
  color: #fc00ff;
}

.box-area li:nth-child(6) {
  animation-delay: 3.8s;
  color: #00dbde;
}

.box-area li:nth-child(8) {
  animation-delay: 16s;
  color: #fc00ff;
}

.box-area li:nth-child(10) {
  animation-delay: 1.2s;
  color: #00dbde;
}

/* BUTTON */

.btn {
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  border-radius: 3rem;
}

.btn1 .inner {
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
}

.btn .inner {
  position: absolute;
  width: 300%;
  height: 100%;
  left: -100%;
  z-index: 3;
  transition: all 0.4s;
}

.btn button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  z-index: 4;
}

.btn:hover {
  transform: scale(1.03);
}

.btn:hover .inner {
  left: 0;
}

@media (min-width: 540px) {
  #survey-form {
    max-width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 2rem 3.5rem;
    position: relative;
    border-radius: 1.5rem;
  }
}
/* form */

/* login */

.content-section-login {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  color: white;
}

.button-glass {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

/* login */

/* register */

.content-section-register {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  color: white;
}

/* register */

/* testimonials */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container .row .card {
  width: 300px;
  height: 300px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
*/ .container .row .card .card-body {
  padding: 1rem 1.2rem;
  color: #fff;
}

/* map */
#map {
  width: 100%;
  height: 500px;
}
/* map */
